    <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
	<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Спортивный клуб каратэ шотокан «Раменки»</title>
	<style type="text/css">
	p {	font-family: tahoma,verdana;	font-size: 16px;	color: #fff;}
    </style>
     <meta name="yandex-verification" content="976bb8a5a5e4bc38" />
    </head>
     
    <body bgcolor="#000000">
    <center>
        {% load static %}
    <p><img src="{% static 'logo.gif' %}"></p>
	<p>Уважаемые, посетители.</p>
	<p>Сайт находится на реконструкции. Приносим извенения за временные неудобства.</p>
	<p>Будем рады видеть вас позже.</p>
    </center>
    </body>
    </html>
