{% extends 'base.html' %}
{% load static %}

{% block main %}

    <style>
        .page-card__content {
            display: flex;
            justify-content: center;
        }
        .page-card__inner {
            max-width: 500px;
        }
        .page-card__inner{
            font-size: 16px;
            text-transform: uppercase;
            text-align: center;
            font-family: "GothamPro", -apple-system, BlinkMacSystemFont, "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }
        .red {
            color: #FC0202;
            font-weight: bold;
        }
        .page-card__inner input {
            width: 100%;
            font-size: 12px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 700;
            background-color: #252525;
            border: 1px solid #adadad;
            padding: 5px 10px;
            border-radius: 6px;
            text-align: center;
        }
        .page-card__inner-help_text {
            font-size: 12px;
            text-align: left;
            color: #adadad;
        }
        .submit-button {
            margin-top: 20px;
        }
        small.errors {
            text-align: right;
            text-transform: initial;
        }
    </style>

    <div class="page-main page-main--personal">

    <section class="page-card">

        <div class="page-title">
            <div class="title-add"><span>вход</span></div>
            <div class="title  title--rich">
                <h1>Сброс пароля</h1>
            </div>
        </div>

        <div class="page-card page-card__content">

            <form method="POST" class="page-card__inner">
                {% csrf_token %}
                <p><span class="red">Забыли пароль?</span><br><br> Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию по установке нового пароля.</p>
                <label class="page-card__inner-help_text" for="email">Адрес электронной почты</label>
                {{ form.email }}
                <small class="errors">{{ form.email.errors }}</small>
                <div class="submit-button">
                    <button type="submit" class="btn  btn--rich submit-button__button">Отправить</button>
                </div>
            </form>

        </div>

    </section>

    </div>

{% endblock %}