{% extends 'base.html' %}
{% load static %}

{% block main %}

    <style>
        .page-card__content {
            display: flex;
            justify-content: center;
        }
        .page-card__inner {
            max-width: 600px;
        }
        .page-card__inner{
            font-size: 16px;
            text-transform: uppercase;
            text-align: center;
            font-family: "GothamPro", -apple-system, BlinkMacSystemFont, "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }
        .page-card__inner input {
            width: 100%;
            font-size: 12px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 700;
            background-color: #252525;
            border: 1px solid #adadad;
            padding: 5px 10px;
            border-radius: 6px;
            text-align: center;
        }
        .page-card__inner-help_text {
            font-size: 12px;
            text-align: left;
            color: #adadad;
        }
        .submit-button {
            margin-top: 20px;
        }
        small.errors {
            text-align: center;
            text-transform: initial;
            color: #FC0202;
        }
        .old-password {
            padding-bottom: 20px;
        }
    </style>

    <div class="page-main page-main--personal">

    <section class="page-card">

        <div class="page-title">
            <div class="title-add"><span>Личный кабинет</span></div>
            <div class="title  title--rich">
                <h1>Смена пароля</h1>
            </div>
        </div>

        <div class="page-card page-card__content">
            <form method="POST" class="page-card__inner">
                {% csrf_token %}

                {{ form.non_field_errors }}
                <div class="old-password">
                    <label class="page-card__inner-help_text" for="id_old_password">Введите старый пароль</label>
                    {{ form.old_password }}
                    <small class="errors">{{ form.old_password.errors }}</small>
                </div>

                <label class="page-card__inner-help_text" for="id_new_password1">Введите новый пароль</label>
                    {{ form.new_password1 }}
                    <small class="errors">{{ form.new_password1.errors }}</small>

                <label class="page-card__inner-help_text" for="id_new_password2">Повторите новый пароль</label>
                    {{ form.new_password2 }}
                    <small class="errors">{{ form.new_password2.errors }}</small>

                <div class="submit-button">
                    <button type="submit" class="btn  btn--rich submit-button__button">Отправить</button>
                </div>
            </form>

        </div>

    </section>

    </div>

{% endblock %}